* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  background: #e8e8e8;
}

.header {
  color: white;
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  );
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  border-radius: 50px;
  height: 20px;
  padding: 10px;
  margin: 10px;
}

.hero:hover {
  border: 1px solid black;
  background-color: rgba(52, 52, 52, 0.8);
}
